{% extends "layout.html" %}
{% block menu %}
<div class="container">
    <h1 id="-">Ani-Face Detector for Twitter</h1>
    <h2 id="-">このサイトはなに？</h2>
    <p>このページを使うと、Twitterから二次元画像だけを回収することが出来るよ！</p>
    <h2 id="-">どうやって判別してるの？</h2>
    <p>
        2次元画像かどうかの判定は、<a href="https://github.com/marron-akanishi/TPTS">TPTS</a>っていうシステムを使用してるよ。<br>
        精度がそこまで良くないから変な画像が紛れ込むかも...
    </p>
    <h2 id="-">使い方</h2>
    <p>
        まず、自分のTwitterのアカウントでログインをしよう！<br>
        次にツイートの収集方法を選択！収集方法は以下の5種類<br>
        ・自分のホームTLの直近{{count}}件<br>
        ・自分のいいねの直近{{count}}件<br>
        ・特定のユーザーの直近{{count}}件<br>
        ・リストの直近{{count}}件<br>
        ・指定したハッシュタグの直近{{count}}件<br>
        ・指定したキーワードの直近{{count}}件<br>
        どれも回収に時間がかかるけど、気長に待ってね！<br>
        画像の回収が出来たら、一覧表示されるよ。<br>
        そのまま、画像を一括でダウンロード出来る！便利！<br>
        画像をクリックすれば、ツイートの詳細も確認出来るよ。<br>
        その他にも、管理者のTLから回収した画像の一覧を見ることも出来るかも...<br>
    </p>
    </div>
{% endblock menu %}
